@font-face {
    font-family: "Karate";
    src: url("../assets/fonts/Karate.ttf");
}
body {
    font-family: "Karate";
}
@media (orientation:portrait) {
    #game {
        width: 80vw;
        height: 80vw;
    }
}
@media (orientation:landscape) {
    #game {
        width: 80vh;
        height: 80vh;
    }
}
.landscape {
    width: 80vh;
    height: 80vh;
}
.portrait {
    width: 80vw;
    height: 80vw;
}
#game {   
    margin: 20px auto;
    background-color: #FFF6BF;
}
/*//// COMMON /////////*/
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.foreGround {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.color684F3A {
    color: #684F3A;
}
/*////////////////////*/
#mainMenu {

}
#mainMenu, #selectMenu {
    position: relative;
    width: 100%;
    height: 100%;
}

#mainTopBackground {
    height: 45%;
    width: auto;
    background-color: #EDC977;
}
#mainBotBackground {
    height: 55%;
    width: auto;
    background-color: #FFF6BF;
}
#mainStripCharacter {
    margin-top: 5%;
    height: 40%;
    background-color: #D8CF9E;
}

#gameTitleSection, #characterSection, #buttonSection{
    flex-grow: 1;
    align-items: center;
}
#gameTitleSection {
    text-align: center;
}
#gameTitle{
    width: 80%;
    height: auto;
    margin-top: 30px;
}
#characterSection {
    display: flex;
    justify-content: center;
}
#characterSection > img {
    width: 33%;
}
#buttonSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#playButton {
    width: 50%;
    position: relative;
}
#playText {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
}
#roundSelection {
    position: relative;
    width: 30%;
}
#selectRound {
    font-family: "Karate";
    font-size: 30px;
    border: none;
    position: absolute;
    width: 20%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    left: 90%;
    outline:none;
}
#selectRound:focus {
    
}

/*//////// SELECTION MENU ////////*/
#selectMenu {
    display: none;
}

#roundAndScore {
    padding: 2%;
}
#selectStripCharacter {
    position: relative;
    top: 60%;
    height: 20%;
    background-color: #D8CF9E;
}
.selectTopText {
    position: absolute;
    font-size: 40px;
}
#actualRound {
    top: 6%;
    left: 29%;
}
#numberRound {
    top: 6%;
    left: 39%;
}
#userScore {
    top: 9.5%;
    right: 26.5%;
}
#computerScore {
    top: 9.5%;
    right: 17.5%;
}
#selectCharacterText {
    margin-top: 10%;
    font-size: 40px;
    text-align: center;
}
#selectMenuTop {
    height: 50%;
}
#selectMenuCharacter {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#selectMenuCharacter > img {
    width: 30%;
    position: relative;
}
#selectMenuCharacter > img:hover {
    width: 40%;
    cursor: pointer;
}
#versus {
    display: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/ui/vsBackground.svg);
    background-size: cover;
}
#vsBar {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/ui/vsBar.svg);
    background-size: cover;
    
}
#vsBar:hover {
    cursor: pointer;
}
#userCharacter, #computerCharacter {
    width: 70%;
    position: absolute;
}
#userCharacter {
    top: 5%;
    left: -50%;
    animation: slideRight 2s cubic-bezier(0, 1.1, 1, 1) infinite;
}
#computerCharacter {
    bottom: -5%;
    right: -50%;
    animation: slideLeft 2s cubic-bezier(0, 1.1, 1, 1) infinite;
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(60%); 
    }
}
@keyframes slideLeft {
    0% {
        transform: translateX(0); 
    }
    100% {
        transform: translateX(-60%); 
    }
}
#win, #lose, #draw {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#win {
    background-image: url(../assets/images/ui/winBack.svg);
    background-size: cover;
}
#lose {
    background-image: url(../assets/images/ui/loseBack.svg);
    background-size: cover;
}
#draw {
    background-image: url(../assets/images/ui/drawBack.svg);
    background-size: cover;
}
#winUserCharacter {
    position: absolute;
    width: 50%;
    bottom: 25%;
    right: 15%;
}
#winComputerCharacter {
    position: absolute;
    width: 20%;
    bottom: 35%;
    left: 10%;
}
#loseUserCharacter {
    position: absolute;
    width: 50%;
    bottom: 5%;
    left: 20%;
}
#loseComputerCharacter {
    position: absolute;
    width: 20%;
    bottom: 38%;
    right: 8%;
}
#drawUserCharacter {
    position: absolute;
    width: 50%;
    bottom: 15%;
    left: 0%;
}
#drawComputerCharacter {
    position: absolute;
    width: 50%;
    bottom: 15%;
    right: 0%;
}